# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\IT\IT courses\Modern React with Redux\Unsplash and YouTube API Searching App\unsplash-and-youtube-api-searching-app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
